{
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 60,
        "singleQuote": true,
        "jsxSingleQuote": false
      }
    ]
  }
}
