.navbar {
    height: 50px;
    background-color: #003b95;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 500;
}
.navItems{
  display: flex;  
  align-items: center;

}
.navButton{
    margin-left: 20px;
    border: 1px solid #003b95 ;
    background-color: white;
    color: #3665ab;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    
}
.navButton:hover{
    background-color: #e4eefb; 
}