.banner {
  position: relative;
  width: 100%;
  height: 100%;
}

.bannerImg {
  width: 100%;
  height: 376px;
  object-fit: cover;
}
.bannerContent {
  position: absolute;
  top: 40%; /* Đưa phần tử văn bản vào giữa banner theo chiều dọc */
  left: 30%; /* Đưa phần tử văn bản vào giữa banner theo chiều ngang */
  transform: translate(
    -50%,
    -50%
  ); /* Điều chỉnh vị trí chính xác của phần tử văn bản */
  color: #ffffff; /* Màu chữ của phần tử văn bản */
}
.bannerContent h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bolder;
}
.bannerContent p {
  font-size: 24px;
}

.bannerButton {
  position: absolute;
  color: white;
  background-color: #006ce4;
  padding: 10px 10px;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: bold;
}
.bannerButton:hover {
  background-color: #003b95;
}
